/*
   Custom CSS for ASB greenID 

   Author: MK;

	Colors
   Background 	#000000
	 text color 	#FFFFFF
   Yellow       #FCBD1B

 */

html {
	font-family: -apple-system, "Calibri Light", Calibri, Helvetica, Arial, sans-serif;
	background: #000;
	color: #fff;
}

/* 
 * -- General - All Screens -- 
 */

/* Each page outer container */
.greenid-so-content {
    background: #000000;

  /* default */
  /* padding: 35px 30px 30px */
  padding: 0px;
}


/* The inner block inside each page */
#greenid-container {
  /*background-color: #000000;*/
  background-image: url('https://asbbrain.github.io/image/bg_iphone7.jpg');
  color: #FFFFFF;
  margin: 0 32px;
  padding-top: 20px;
  font-family: -apple-system, "Calibri Light", Calibri, Helvetica;
}


.greenid-so-content #greenid-container .btn {
  font-family: -apple-system;
}


/* Back button in nav bar */
.greenid-so-content #greenid-container .btn-back {
  background-color: transparent;
  background-image: url('https://asbbrain.github.io/image/yellow-back-arrow.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 18px 25px;
  color: #FCBD1B;
  margin-left: 6px;
  margin-top: 10px;
}


/* Navigation bar at the top */
.greenid-so-content-nav {

  min-height: 44px;
  border-bottom: none;
  background-color: #000000;
  margin: 0 -32px;
}

/* Navigation bar */
.greenid-so-content #greenid-container .greenid-so-content-nav {

  background-color: #000000;
  min-height: 44px;
}


.greenid-so-content #greenid-container .btn-cancel {
  background-image: none;
  background-color: #000000;
  color: #FCBD1B;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 16px;
}


/* 
 * -- Confirm ocr page -- 
 */

.greenid-so-content #greenid-so-content-confirm-details {

}

/* Confirm OCR page heading */
.greenid-so-content #greenid-container h1 {
  color: #fff;
  font-size: 24px;
  line-height: 1.4;
}

/* form */
form#greenid-so-confirm-details-form {
}

.greenid-so-content #greenid-container label {
  font-size: 15px;
  color: #fff;
  text-transform: none;

}

.greenid-so-content #greenid-container .form-group {
  height: 55px;
  margin-bottom: 22px;
}

#greenid-container label {
  margin-bottom: 0;
}

.input-group {
  background-color: transparent;

}

#greenid-container .input-group {
  border-bottom: solid 1px #fcbd1b;
  width: 100%;
  margin-bottom: 22px;
}

/* Input fields */

.greenid-so-content #greenid-container .form-group {
  margin-bottom: 0
}

.greenid-so-content #greenid-container input[type='text'], 
.greenid-so-content #greenid-container input[type='number'], 
.greenid-so-content #greenid-container input[type='date'], 
.greenid-so-content #greenid-container input[type='tel'], 
.greenid-so-content #greenid-container input[type='email'], 
.greenid-so-content #greenid-container input[type='password'], 
.greenid-so-content #greenid-container input[type='datetime'], 
.greenid-so-content #greenid-container input[type='month'],
.greenid-so-content #greenid-container textarea {
  background-color: transparent;
  border: none;
  padding: 2px 0;
  font-size: 24px;
  color: #fff;
}

/* Calendar input button */
#greenid-container .input-group-addon {
  background-color: transparent;
  border: none;
  color: #fff;
}

/* clear button next to input */

#greenid-container .input-group-btn{
  background-color: transparent;
}

.greenid-so-content #greenid-container .input-group-btn button {
  background-color: transparent;
  border: none;
  width: 19px;
  height: 19px;

}

/* Primary button - usually next or continue */
.greenid-so-content #greenid-container .btn-primary {
  background-color: #FCBD1B;
  border-radius: 2px;
  color: #000;
  font-size: 18px;
  text-transform: none;
}

/* Next button */
.greenid-so-content #greenid-container .btn-next {
  background-image: none;
}
